body{
  margin: 0;
  color:black;
  background-color:white;
  font-family: 'Chilanka', cursive;
}
*{
  box-sizing: border-box;
}

.flex-container{
display:flex;
flex-direction: column;
text-align: center;
}

.gameDisplayContainer {
  border:3px solid black;
  border-radius:10px;
  background-color:rgb(206, 167, 128);
  width: 90%;
  height: 80vh;
  padding-bottom:5px;
  margin:auto;
}

#babyDecksDisplay{
  position: relative;
  width: 100%;
  height: 15%;
  padding-bottom:10px;
  border-bottom:2px solid black;
}

#playersAndDrawPiles {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  border-bottom:2px solid black;
}

#playersDisplay {
  display:flex;
  flex-direction: row;
  height: 92.5%;
  width: 75%;
  border: 2px solid black;
  border-radius:5px;
  margin: auto;
}

.player1Container {
  border-right:3px solid black;
  height: 100%;
  width: 50%;
  border-right-style: dotted;
}

.player2Container {
  height: 100%;
  width: 50%;
}

#drawDiscard {
  position: relative;
  height: 75%;
  width: 22.5%;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.draw, .discard{
  display:flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
}

.cardImgBack {
  border-radius:5px;
  height:130px;
  margin:5px;
  background-image: url("../images/backimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

#playerAndHandPoints{
  width: 100%;
  height: 15%;
  display: flex;
}

.card {
  height: 80%;
  width: 10%;
  margin: auto;
  border-radius:5px;
  border: 1px solid black;
}

#playerHand {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}

#playerBabies {
  width: 20%;
  height: 100%;
  border-left: 2px solid black;
}
